{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>MiracleNote</title>
    <style>
      #all {
        width: 90%;
        height: 800px;
        background: #333;
        position:absolute;
        display: none;
        text-align: center;
        opacity: 78%;
      }

    </style>
</head>
<body id="body-pd">
{% include "navbar.html" %}
<!-- 내용 입력폼 -->
<div class="container"><br>
    <h4>여러분만의 특별한 노트를 만들어보세요</h4><br/>
    <form method = "POST" action = "{% url 'addnote:savenote' %}" id="frm" enctype="multipart/form-data">
        {% csrf_token%}
        {% include "form_errors.html" %}
        노트명 : <input type = "text" id = "subject" name = "subject" size = "12" ><br/><br/>
        노트 설명 : <textarea name = "note_description" id = "note_description" rows = "7" cols = "40" wrap = "virtual" placeholder="원하는 내용을 입력해 주세요"></textarea><br/>
        파일첨부 : <input type = "file" id = "audio" name = "audio" size = "12" onchange="setThumbnail(event);"><br/>
        <input type="hidden" id="file_route" name="file_route"/> 
        <small>wav 확장자를 지원합니다. </small>
        <input type="button" value="저장" onclick="javascript:doFunction();"/>
    </form>
</div>

<!-- IONICONS -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<!-- JS -->
<script src="{% static 'js/main.js' %}"></script>
<script> 
    window.onload = function(){
        var nav = document.getElementById( 'nav_addnote' );
        nav.classList.add('active'); 
    }
    function setThumbnail(event) {
        document.getElementById('file_route').value=document.getElementById('audio').files[0].name;
    }
</script> 
</body>
</html>