{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>MiracleNote</title>

    <style>
        #header {
            background-color:lightgray;
            height:100px;
        }
        #mynetwork {
            width: 700px;
            height: 700px;
            border: 1px solid lightgray;
            float: left;
        }
        #article {
            width:400px;
            text-align: left;
            float: left;
            padding:10px;
        }
        #footer {
            background-color:#FFCC00;
            height:100px;
            clear:both;
        }
        #header, #nav, #article, #footer {text-align:center;}
        #header, #footer {line-height:100px;}
        #article, #nav {line-height: 240px;}

        .center {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
    </style>
</head>

<body id="body-pd">
{% include "navbar.html" %}
<div id="header">
    <h2> MY NOTE</h2>
</div>

<div id="mynetwork"></div>
<script type="text/javascript">
    $(document).ready(function () {
        network_show();
    });
    // create an array with nodes
    function network_show() {
        $.ajax({
            type: "GET",
            url: "vis/",
            data: {},
            success: function (response) {
                if ( response['result'] == "success") {
                    let nodes_receive = response['nodes'];
                    let edges_receive = response['edges'];
                    var nodes = new vis.DataSet(nodes_receive);
                    var edges = new vis.DataSet(edges_receive);
                    // create a network
                    var container = document.getElementById('mynetwork');
                    // provide the data in the vis format
                    var data = {
                        nodes: nodes,
                        edges: edges
                    };
                    var options = {
                        nodes: {borderWidth: 2, scaling:{ label:{enabled:true, min:20, max:50} }},
                        interaction: {hover: true, navigationButtons: true, keyboard: true},
                        groups: {
                            NNG: {
                                color: { border: "#2B7CE9", background: "#97C2FC", highlight: { border: "#2B7CE9", background: "#D2E5FF" }, hover: { border: "#2B7CE9", background: "#D2E5FF" } },
                                title: '일반명사',
                            },
                            NNP: {
                                color: { border: "#FFA500", background: "#FFFF00", highlight: { border: "#FFA500", background: "#FFFFA3" }, hover: { border: "#FFA500", background: "#FFFFA3" } },
                                title: '고유명사',
                            },
                            NNB: {
                                color: { border: "#FA0A10", background: "#FB7E81", highlight: { border: "#FA0A10", background: "#FFAFB1" }, hover: { border: "#FA0A10", background: "#FFAFB1" } },
                                title: '의존명사',
                            },
                            NR: {
                                color: { border: "#41A906", background: "#7BE141", highlight: { border: "#41A906", background: "#A1EC76" }, hover: { border: "#41A906", background: "#A1EC76" } },
                                title: '수사',
                            },
                            NP: {
                                color: { border: "#E129F0", background: "#EB7DF4", highlight: { border: "#E129F0", background: "#F0B3F5" }, hover: { border: "#E129F0", background: "#F0B3F5" } },
                                title: '대명사',
                            },
                            VV: {
                                color: { border: "#7C29F0", background: "#AD85E4", highlight: { border: "#7C29F0", background: "#D3BDF0" }, hover: { border: "#7C29F0", background: "#D3BDF0" } },
                                title: '동사',
                            },
                            VA: {
                                color: { border: "#C37F00", background: "#FFA807", highlight: { border: "#C37F00", background: "#FFCA66" }, hover: { border: "#C37F00", background: "#FFCA66" } },
                                title: '형용사',
                            },
                            VX: {
                                color: { border: "#4220FB", background: "#6E6EFD", highlight: { border: "#4220FB", background: "#9B9BFD" }, hover: { border: "#4220FB", background: "#9B9BFD" } },
                                title: '보조용언',
                            },
                            VCP: {
                                color: { border: "#FD5A77", background: "#FFC0CB", highlight: { border: "#FD5A77", background: "#FFD1D9" }, hover: { border: "#FD5A77", background: "#FFD1D9" } },
                                title: '긍정 지시사',
                            },
                            VCN: {
                                color: { border: "#4AD63A", background: "#C2FABC", highlight: { border: "#4AD63A", background: "#E6FFE3" }, hover: { border: "#4AD63A", background: "#E6FFE3" } },
                                title: '부정 지시사',
                            },
                            MM: {
                                color: { border: "#990000", background: "#EE0000", highlight: { border: "#BB0000", background: "#FF3333" }, hover: { border: "#BB0000", background: "#FF3333" } },
                                title: '관형사',
                            },
                            MAG: {
                                color: { border: "#FF6000", background: "#FF6000", highlight: { border: "#FF6000", background: "#FF6000" }, hover: { border: "#FF6000", background: "#FF6000" } },
                                title: '일반부사',
                            },
                            MAJ: {
                                color: { border: "#97C2FC", background: "#2B7CE9", highlight: { border: "#D2E5FF", background: "#2B7CE9" }, hover: { border: "#D2E5FF", background: "#2B7CE9" } },
                                title: '접속부사',
                            },
                            XPN: {
                                color: { border: "#399605", background: "#255C03", highlight: { border: "#399605", background: "#255C03" }, hover: { border: "#399605", background: "#255C03" } },
                                title: '체언접두사',
                            },
                            XSN: {
                                color: { border: "#B70054", background: "#FF007E", highlight: { border: "#B70054", background: "#FF007E" }, hover: { border: "#B70054", background: "#FF007E" } },
                                title: '명사파생접미사',
                            },
                            XSV: {
                                color: { border: "#AD85E4", background: "#7C29F0", highlight: { border: "#D3BDF0", background: "#7C29F0" }, hover: { border: "#D3BDF0", background: "#7C29F0" } },
                                title: '동사파생접미사',
                            },
                            XSA: {
                                color: { border: "#4557FA", background: "#000EA1", highlight: { border: "#6E6EFD", background: "#000EA1" }, hover: { border: "#6E6EFD", background: "#000EA1" } },
                                title: '형용사파생접미사',
                            },
                            XR: {
                                color: { border: "#FFC0CB", background: "#FD5A77", highlight: { border: "#FFD1D9", background: "#FD5A77" }, hover: { border: "#FFD1D9", background: "#FD5A77" } },
                                title: '어근',
                            },
                            SL: {
                                color: { border: "#C2FABC", background: "#74D66A", highlight: { border: "#E6FFE3", background: "#74D66A" }, hover: { border: "#E6FFE3", background: "#74D66A" } },
                                title: '외래어',
                            },
                            NNG_: {
                                color: { border: "#2B7CE9", background: "#97C2FC", highlight: { border: "#2B7CE9", background: "#D2E5FF" }, hover: { border: "#2B7CE9", background: "#D2E5FF" } },
                                title: '일반명사',
                                shape: 'box',
                            },
                            NNP_: {
                                color: { border: "#FFA500", background: "#FFFF00", highlight: { border: "#FFA500", background: "#FFFFA3" }, hover: { border: "#FFA500", background: "#FFFFA3" } },
                                title: '고유명사',
                                shape: 'box',
                            },
                            VV_: {
                                color: { border: "#7C29F0", background: "#AD85E4", highlight: { border: "#7C29F0", background: "#D3BDF0" }, hover: { border: "#7C29F0", background: "#D3BDF0" } },
                                title: '동사',
                                shape: 'box',
                            },
                            VA_: {
                                color: { border: "#C37F00", background: "#FFA807", highlight: { border: "#C37F00", background: "#FFCA66" }, hover: { border: "#C37F00", background: "#FFCA66" } },
                                title: '형용사',
                                shape: 'box',
                            },
                            MM_: {
                                color: { border: "#990000", background: "#EE0000", highlight: { border: "#BB0000", background: "#FF3333" }, hover: { border: "#BB0000", background: "#FF3333" } },
                                title: '관형사',
                                shape: 'box',
                            },
                            XR_: {
                                color: { border: "#FFC0CB", background: "#FD5A77", highlight: { border: "#FFD1D9", background: "#FD5A77" }, hover: { border: "#FFD1D9", background: "#FD5A77" } },
                                title: '어근',
                                shape: 'box',
                            },
                            SL_: {
                                color: { border: "#C2FABC", background: "#74D66A", highlight: { border: "#E6FFE3", background: "#74D66A" }, hover: { border: "#E6FFE3", background: "#74D66A" } },
                                title: '외래어',
                                shape: 'box',
                            }
                        }
                    };
                    var network = new vis.Network(container, data, options);
                    network.setOptions(options);
                }
            }
        })
    }
</script>
<div id="article">
    <form method="post" class="post-form my-3" action="{% url 'addnote:addnote_save' note.id %}">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-group1">
            <h3><label for="subject">제목</label></h3>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ note.subject }}">
        </div>
        <div class="form-group2">
            <h3><label for="sttText">음성인식 결과</label></h3>
            <textarea class="form-control" name="sttText" id="sttText" rows="10">{{ note.sttText }}</textarea>
        </div>
        <div class="form-group3">
            <h3><label for="note_description">메모</label></h3>
            <textarea class="form-control" name="note_description" id="note_description" rows="10">{{ note.note_description }}</textarea>
        </div>
        <button type="submit" class="btn btn-sm btn-outline-secondary">노트 수정</button>
        <a href="#" id="delete" class="btn btn-sm btn-outline-secondary" data-uri="{% url 'addnote:delete' note.id %}">노트 삭제</a>
    </form>
</div>
<!-- IONICONS -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<!-- JS -->
<script src="{% static 'js/main.js' %}"></script>
<script type='text/javascript'>
    $(document).ready(function(){
        $("#delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });
    });
</script>
</body>
</html>