<!--안내 및 로그인 화면(page2,3)-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin login</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="assets/js/main.js"></script>
</head>

<body>
  <div class="show-login-btn"><i class="fas fa-sign-in-alt"></i> Show Login Form</div>

  <div class="login-box">
    <div class="hide-login-btn">
      <i class="fas fa-times"></i>
    </div>
    <form method="post" class="login-form" action="{% url 'common:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <h1>Welcome</h1>
        <input class="txtb" type="text" name="username" placeholder="Username" value="{{ form.username.value|default_if_none:'' }}">
        <input class="txtb" type="password" name="password" placeholder="Password" value="{{ form.password.value|default_if_none:'' }}">
        <input class="login-btn" type="submit" name="" value="Login">
    </form>
  </div>
</body>

</html>
