{% load static %}
<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" title="no title" charset="utf-8">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
    <title>MiracleNote</title>
    <style>
        .container {
            background : linear-gradient(45deg, #9fbaa8, #31354c)
        }
    </style>
</head>
<body>
<article class="container">
    <div style="margin:auto;text-align:center;">
        <div class="page-header">
            <h1>여러분만의 특별한 노트를 만들어보세요</h1>
        </div>
    </div>
</article>
<!--이 js 효과 불러오기가 왜 안되는지 모르겠습니다..내일까지 고쳐보려구요-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>



