<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <h5> <a href="{% url 'common:home' %}" class="nav__logo">Miraclenote</a></h5>
            </div>
            <div class="nav__list">
                <a href="{% url 'mynote:index' %}" id = "nav_index" class="nav__link">
                    <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Dashboard</span>
                </a>
                <!--추후 share 추가-->
                <!--
                <div href="#" class="nav__link collapse">
                    <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Mynotes</span>
                </div>-->

                <a href="{% url 'addnote:index' %}" id = "nav_addnote" class="nav__link">
                    <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Analytics</span>
                </a>

                <a href="{% url 'mypage:password_edit' %}" id = "nav_mypage" class="nav__link">
                    <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Settings</span>
                </a>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'common:logout' %}" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">Log out</span>
            </a>
            {% endif %}
        </div>
    </nav>
</div>